In [14]:
## General imports

import os
import json
import glob
import pandas as pd
import matplotlib.pyplot as plt

## Define locations

In [9]:
locs = {'input_master_data' : os.path.join('..', 'data', 'input', 'data_productie', 'master_data.json'),
        'input_daily_BRU' : os.path.join('..', 'data', 'input', 'data_productie', 'daily_production', 'BRU'),
        'output_folder' : os.path.join('..', 'data', 'output')}
locs

{'input_master_data': '..\\data\\input\\data_productie\\master_data.json',
 'input_daily_BRU': '..\\data\\input\\data_productie\\daily_production\\BRU',
 'output_folder': '..\\data\\output'}

## Read data

In [5]:
#print(locs['input_master_data'])
#print(os.getcwd())

In [4]:
with open(locs['input_master_data'], 'r') as f:
    data_raw = json.load(f)
data_raw

{'BRU msr': 1244, 'STO msr': 274}

In [ ]:
def read_daily(ymd, index, city):
    """
    TODO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    """

In [40]:
folder_daily = locs['input_daily_BRU']

# import all files which end with .json from folder
json_files_BRU = glob.glob(os.path.join(folder_daily, '*.json'))

json_list = []
for file in json_files_BRU:
    with open(file, 'r') as f:
        data = json.load(f)
    json_list.append(data)

# convert list of dfs to dataframe
df_BRU = pd.json_normalize(json_list)
df_BRU.sample(10)

,DoW,hour,minute,date,maintenance,prod_loss,prod_loss_perc,production
596,Tuesday,1,0,08-20-2019 00:00:00.0000,No,158,13,1086
1206,Wednesday,1,0,04-21-2021 00:00:00.0000,No,324,26,920
1214,Thursday,1,0,04-29-2021 00:00:00.0000,No,193,16,1051
1439,Friday,1,0,12-10-2021 00:00:00.0000,No,196,16,1048
79,Wednesday,1,0,03-21-2018 00:00:00.0000,No,1244,100,0
1436,Tuesday,1,0,12-07-2021 00:00:00.0000,No,210,17,1034
433,Sunday,1,0,03-10-2019 00:00:00.0000,No,347,28,897
981,Tuesday,1,0,09-08-2020 00:00:00.0000,No,270,22,974
506,Wednesday,1,0,05-22-2019 00:00:00.0000,No,253,20,991
1785,Monday,1,0,11-21-2022 00:00:00.0000,No,109,9,1135

In [48]:
df_BRU[['prod_loss', 'prod_loss_perc', 'production']] = df_BRU[['prod_loss', 'prod_loss_perc', 'production']].apply(pd.to_numeric, errors='coerce')

In [49]:
df_BRU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DoW             1830 non-null   object
 1   hour            1830 non-null   int64
 2   minute          1830 non-null   int64
 3   date            1830 non-null   object
 4   maintenance     1830 non-null   object
 5   prod_loss       1736 non-null   float64
 6   prod_loss_perc  1736 non-null   float64
 7   production      1736 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 114.5+ KB

In [50]:
df_BRU.describe()

         hour  minute    prod_loss  prod_loss_perc   production
count  1830.0  1830.0  1736.000000     1736.000000  1736.000000
mean      1.0     0.0   430.288018       34.579493   813.711982
std       0.0     0.0   390.712496       31.413713   390.712496
min       1.0     0.0    51.000000        4.000000     0.000000
25%       1.0     0.0   196.750000       16.000000   860.750000
50%       1.0     0.0   270.500000       22.000000   973.500000
75%       1.0     0.0   383.250000       31.000000  1047.250000
max       1.0     0.0  1244.000000      100.000000  1193.000000